/*	ICON
$Id: icon.css,v 1.39 2009/10/26 22:36:10 dgasior Exp $
@author btapley
*/
/* http://www.macedition.com/cb/ie5macbugs/substringbug.html \*//*/ @media hide { /**/
.icon 
{
padding-left: 20px;
background-repeat: no-repeat;
background-position: left center;
background-position-y: top;
}
/*\*//*/pcie/**/*\5 .icon 
{
height: 1em;
}
a.icon,
span.icon,
li.icon 
{ 
zoom: 100%; 
}
a.icon:not([className~=icon]),
span.icon:not([className~=icon]) 
{
display: inline-block;
vertical-align: bottom;
}
li.icon,
p.icon {  
background-position: left top; }
.icon-20 
{ 
padding: 0 0 0 24px !important; 
min-height: 20px; 
_height: 20px;
display: block;
}
li > span.icon-20,
li > a.icon-20 
{ 
line-height: 1.6em;
}
.icon-36 { 
padding: 0 0 0 40px !important; 
min-height: 36px; 
_height: 36px;
display: block;
background-position: left top;
}
li > span.icon-36,
li > a.icon-36 { 
line-height: 1.6em;
}
button.icon-replace 
{	
-moz-outline: none;
padding: 0;
border-style: none;
background-color: transparent;
background-repeat: no-repeat;
background-position: center center;
}
/*	ICON REPLACE
@author bapley
*/
.icon-replace 
{
background-repeat: no-repeat;
background-position: center center;
display: inline; 
display: inline-block; 
display: -moz-inline-box; 
_display: inline; 
zoom: 100%; 
width: 24px; 
padding: 0 !important; 
overflow: hidden; 
white-space: nowrap; 
text-align: left; 
word-spacing: -2ex; 
letter-spacing: -2ex; 
min-height: 16px; 
_height: 16px; 
color: transparent !important; 
_font: 1px/0 monospace; 
_word-spacing: -2px;
_letter-spacing: -2px;
}
button.icon-replace,
th.icon-replace,
td.icon-replace 
{
_color: #FFF;
}
button[className~=icon-replace],
th[className~=icon-replace],
td[className~=icon-replace] 
{
color: #FFF;
}
[className~=icon-replace] 
{
font: 1px/0 monospace !important;
word-spacing: -2px;
letter-spacing: -2px;
}
a.icon-replace 
{
vertical-align: bottom;
}
th.icon-replace,
td.icon-replace 
{
display: table-cell;
background-position: center center;
width: auto;
}
@media screen and (-op-browser) 
{
a.icon-replace,
span.icon-replace 
{
text-indent: 100%;	
}
th.icon-replace,
td.icon-replace 
{
letter-spacing: normal; 
}
th.icon-replace:before,
td.icon-replace:before 
{
content:"\0020"; 
margin-left: -100%;  
}
}
/*	ZERO
@author jsutton
*/
.zero
{
position: relative;
line-height: 0px;
font-size: 0px;
margin: 0px;
padding: 0px;
}
/*	IMAGES
*/
.add { background-image: url(icon/add.gif) }